#mapBox {
    height: 500px;
}
.img-thumbnail{
    height: 200px;
    width: 200px;
}
.container{
    display: inline-block;
}


.big-banner{
    background-image: url(../images/header.png);
    background-size: 100%;
}

#name {
    color: brown
}
#rating {
    color: red
}

body {
    background-color: black
}
#location {
    color: rgb(207, 127, 127)
}
#address {
    color: white
}

